/*Comandos Globales sobre el docuemnto main*/
body {
  background-color: #e5e5e5;
  color: #fca311;
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  display: flex; /* Que se junte los elementos en una sola linea*/
  background-color: #14213d;
  padding: 0px; /*Espaciado interno del header*/
  margin: 0px;
  align-items: center;
  justify-content: space-between;
}

#nav {
  background-color: #14213d;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav-list {
  list-style-type: none;
  display: flex; /* Mostrar los elementos de la lista en línea */
  margin: 0;
  padding: 0;
}

#nav-list li a {
  text-decoration: none;
  color: #ffffff;
  padding: 15px 20px 15px 20px;
}

#nav-list li a:hover {
  color: #fca311;
}

#logo img {
  max-width: 70px;
  height: auto;
}
/*Fin de HEADER*/

/*INICIO DEL FOOTER*/
#footer {
  background-color: #14213d;
  color: #ffffff;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

#footer-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding-left: 15px;
  font-size: 12px;
}

#footer-infor,
#contact-info {
  padding: 0 20px;
  text-align: left;
}

#redes {
  margin-top: 20px;
  margin-right: 40px;
}

#redes a img {
  max-width: 60px;
  margin: 10px;
}
/*FIN DEL FOOTER*

/*INICIO CARRUSEL*/
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /*Permite que las cards, se envuelvan en filas*/
  gap: 30px; /* Espacio entre las cards*/
  padding: 20px;
}

.card {
  width: 300px;
  border: 2px solid #fca311;
  border-radius: 15px;
  overflow: hidden; /*Oculta el contenido que se desvorda*/
  -webkit-box-shadow: 10px -1px 50px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px -1px 50px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 10px -1px 50px -7px rgba(0, 0, 0, 0.75);
  padding: 10PX;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  max-width: max-content;
  height: 300px;
  object-fit: cover; /*Ajusta la imagen dentro del contenedor*/
    border-radius: 15px;
    border: 1px solid #14213d;
}

.card-info{
    padding: 10px;
}

.card-info h2 {
    margin-top: 0;
}

.card-info p {
    color: #000000;
}

.card-info a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #fca311;
    font-weight: bold;
}

.card-info a:hover {
    color: #14213d;
}